<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PROJET TLI</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../css/freelancer.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
</div>

<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-primary">

        <a class="navbar-brand mr-0" href="#">
          <img src="../img/logo.png" alt="Logo" href="#page-top" >
</a>


    <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
        <ul class="navbar-nav text-nowrap">
           <li class="nav-item">
                <a class="nav-link" href="index.html">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Les pathologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ressources.html">Ressources</a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-dark">Connexion</button>


</nav>



    <div class="tab">
        <button class="tablinks" onclick="openMenu(event, 'Sources')" id="defaultOpen">Sources</button>
        <button class="tablinks" onclick="openMenu(event, 'Auteurs')">Auteurs</button>
        <button class="tablinks" onclick="openMenu(event, 'Bibliographie')">Bibliographie</button>
        <button class="tablinks" onclick="openMenu(event, 'Webographie')">Webographie</button>
    </div>

    <div id="Sources" class="tabcontent">
        <h3>Sources</h3>
        <p>Voici les sources que l'on a utilisées : </p>
    </div>

    <div id="Auteurs" class="tabcontent">
        <h3>Auteurs</h3>
        <ul>
            <li>Sanchis Floriane</li>
            <li>Picot Alexis</li>
            <li>Dumas Tanguy</li>
            <li>Dépasse Sébastien</li>
            <li>De Paoli Benoit</li>
            <li>Lepine Flavien</li>
            <li>Pracca Basile</li>
        </ul>
    </div>

    <div id="Bibliographie" class="tabcontent">
        <h3>Bibliographie</h3>
        <p>Voici la bibliographie utilisée : </p>
    </div>

    <div id="Webographie" class="tabcontent">
        <h3>Webographie</h3>
        <p>Voici la webographie utilisée : </p>
    </div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="../js/jqBootstrapValidation.js"></script>
<script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/freelancer.min.js"></script>
    <script src="../js/menuVertical.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>

</html>
